:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bootstrap-purple: #6f42c1;
  --light-orange: #ffe9d2;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--light-orange) !important;
  font-size: 1.4rem;
}

.bg-bootstrap-purple {
  background-color: var(--bootstrap-purple) !important;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.max-h-50px {
  max-height: 50px;
}

.shadow-sm {
  box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
